body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(106, 101, 101);
}
.container{
    width: 80%;
    height: 80vh;
    border: 2px solid black;
    margin: 50px auto;
    border-radius: 10px;
    padding: 10px;
    background-image: url('1.jpg')  ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    position: relative;
    transition: background-image 2s ease-in-out;
}
.btn-back{
    position: absolute;
    top: 50%;
    left: 1%;
    font-size: 30px;
    transform: translateY(calc(-50%));
    cursor: pointer;
    opacity: 0.7;
}
.btn-nxt{
    position: absolute;
    top: 50%;
    right: 1%;
    font-size: 30px;
    transform: translateY(calc(-50%));
    cursor: pointer;
    opacity: 0.7;
}